@tailwind base;
@tailwind components;
@tailwind utilities;

.bordered {
	background: #eceff1;
	border: 1px solid rgb(206, 206, 206);
	min-height: 3rem;
	/* min-width: fit-content; */
}
.bordered:hover {
	background: #b3e5fc;
	border: 1px solid #e3f2fd;
	cursor: pointer;
}
.bordered-dotted {
	border: 1px #000 dotted !important;
}
.bordered-dashed {
	border: 1px #000 dashed !important;
}
.background-active {
	background: #b3e5fc;
}
.no-decoration {
	text-decoration: none;
}

.item {
	cursor: pointer;
}
.bold {
	font-weight: bold;
}
ul {
	list-style-type: none;
}
